<section>
  <container>
    <div>
    <label>

    <div class="has-text-centered is-size-4 has-text-weight-medium">Search for Books</div>
      <div class=""><Input @value={{this.query}} class="input is-primary" placeholder="Enter search keywords here" /></div>
  </label>
    </div>
  </container>
</section>
<br>
<section>
<container>
<div class="columns">
<div class="column">


<Books::Filter @books={{@books}} @query={{this.query}} as |results|>
    {{#each results as |book|}}
    <Tile>
    
     <div class="title is-4">{{book.name}}</div>
     <div class="is-family-monospace is-semi-bold has-text-link">Borrow From</div>
     <p class="subtitle is-5 has-text-weight-medium">{{book.owner}} &ensp;|&ensp;   {{book.dept}} Department Year {{book.year}}  &ensp; |&ensp; Roll No {{book.roll}}</p>
     <button class="button is-small is-link"><LinkTo @route="bookdetail" @model={{book.id}}>Get More Details</LinkTo></button>
  </Tile>
    
    {{/each}}
</Books::Filter>
</div>
</div>
</container>
</section>


