  <div class="field">
    <label class="label">Book Title</label>
    <div class="control">
      {{input class="input" type="text" value=title  placeholder="Enter title of book here"}}
    </div>
  </div>
  
  <div class="field">
    <label class="label">Owner</label>
    <div class="control">
      {{input class="input" type="text" value=name  placeholder="Enter your name here"}}
    </div>
  </div>


  <div class="field">

    
    <label class="label">Department and Year</label>
   
    
    <div class="field-body has-addons">
        <div class="control">
          <div class="select">
            <select>
            
              <option>Bsc.Computer Science</option>
              <option>Bsc.Statistics</option>
              <option>Bsc.Psychology</option>
              <option>B.Com Finance</option>
              <option>BA English</option>

            </select>
          </div>
        </div>
        <div class="control">
          <div class="select">
            <select id=year>
            
              <option value=1>1st Year</option>
              <option value=2>2nd Year</option>
              <option value=3>3rd Year</option>

            </select>
          </div>
        </div>
    </div>
    
  </div>
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email"  placeholder="Enter email">
    </div>
  </div>
  <div class="field">
    <label class="label">Roll Number</label>
    <div class="control">
      {{input class="input" type="text" value=roll  placeholder="Enter your roll number"}}
    </div>
  </div>

    <div class="field">
    <label class="label">Book Code</label>
    <div class="control">
      {{input class="input" type="text" value=code  placeholder="Enter book code"}}
    </div>
  </div>

  <div class="field is-grouped">
  <p class="control">
    <a class="button is-primary" role="button" {{action 'postData'}}>
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>