<container>
  <div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> <div id="confirm-title" ></div></p>
      <button class="delete" aria-label="close" {{action 'toggleModal'}}></button>
    </header>
    <section class="modal-card-body">
      <div id="confirm-body" ></div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" id="confirmButton" {{action 'deleteData'}}>Confirm Delete</button>
      <button class="button" {{action 'toggleModal'}}>Cancel</button>
    </footer>
  </div>
</div>
<section>
  <container>
  <div class="field">
    <label class="label">Book Upload Code</label>
    <div class="control">
      {{input class="input" type="text" value=alphanum  placeholder="Enter the security code of the book"}}
    </div>
  </div>
  



  <div class="field is-grouped">
  <p class="control">
    <a class="button is-danger" role="button" {{action 'confirm'}}>
      Delete
    </a>
  </p>
  <p class="control">
    <a class="button is-light" role="button" {{action 'cancelData'}}>
      Cancel
    </a>
  </p>
</div>
  </container>
</section>
<section>
>>
</section>
</container>