<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
     Be a giver , Share your books ❤️
    </p>
    <p class="subtitle">
      Why buy books when you can borrow them? 
    </p>
  </div>
</section>

<section class="section"> 

    <div class="columns">
      <div class="column is-one-fifth"><p class="heading has-text-centered">SL No</p></div>
      <div class="column"><p class="heading has-text-centered">Book Title</p></div>
      <div class="column"><p class="heading has-text-centered">Owner</p></div>
      <div class="column"><p class="heading has-text-centered">Year</p></div>
      <div class="column"><p class="heading has-text-centered">Roll No</p></div>
      <div class="column"><p class="heading has-text-centered">Actions</p></div>
    </div>

{{#each this.model as |book|}}
    <div class="columns">
   
      <div class="column is-one-fifth"><strong><p class="has-text-centered">{{book.id}}</p></strong></div>
      <div class="column"><strong><p class="has-text-centered">{{book.name}}</p></strong></div>
      <div class="column"><strong><p class="has-text-centered">{{book.owner}}</p></strong></div>
      <div class="column"><strong><p class="has-text-centered">{{book.year}}</p></strong></div>
      <div class="column"><strong><p class="has-text-centered">{{book.roll}}</p></strong></div>
      <div class="column">
        <div class="buttons is-centered">
         <button class="button is-link is-small">Get Details</button>
        </div>
      </div>
      
    </div>
{{/each}}
</section>

