<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
     Be a giver , Share your books ❤️
    </p>
    <p class="subtitle">
      Why buy books when you can borrow them? 
    </p>
  </div>
</section>
<br>
<section>
<container>
<div class="columns">
<div class="column">

{{#each this.model as |book|}}
<Tile>
    
     <div class="title is-4">{{book.name}}</div>
     <div class="is-family-monospace is-semi-bold has-text-link">Borrow From</div>
     <p class="subtitle is-5 has-text-weight-medium">{{book.owner}} | {{book.year}}rd Year {{book.dept}} | Roll No {{book.roll}}</p>
     <button class="button is-small is-link">Get More Details</button>
  </Tile>
{{/each}}
</div>
</div>
</container>
</section>
<section class="section"> 
  <div class="container">

    <div class="columns is-mobile">
      <div class="column is-one-fifth"><p class="heading">SL No</p></div>
      <div class="column"><p class="heading">Book Title</p></div>
      <div class="column"><p class="heading">Owner</p></div>
      <div class="column"><p class="heading">Year</p></div>
      <div class="column"><p class="heading">Roll No</p></div>
      <div class="column"><p class="heading">Actions</p></div>
    </div>
  
{{#each this.model as |book|}}
    <div class="columns is-mobile">
   
      <div class="column is-one-fifth"><strong><p class="">{{book.id}}</p></strong></div>
      <div class="column"><strong><p class="">{{book.name}}</p></strong></div>
      <div class="column"><strong><p class="">{{book.owner}}</p></strong></div>
      <div class="column"><strong><p class="">{{book.year}}</p></strong></div>
      <div class="column"><strong><p class="">{{book.roll}}</p></strong></div>
      <div class="column">
        <div class="buttons is-centered">
         <button class="button is-link is-small">Get Details</button>
        </div>
      </div>
      
    </div>
{{/each}}
</div>
</section>

