<container>
<section>
  <div>
    <p class="title">
     Share Your Books Here.
    </p>
    <p class="subtitle">
      Please fill the form and submit.
    </p>
  </div>
  <div class="has-text-right subtitle link">
             <LinkTo @route="deletebooks" class="has-text-link is-size-6">
            Delete your uploaded books>
            </LinkTo> 

  </div>
</section>
<br>

<div class="modal" >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Security Code</p>
      <button class="delete" aria-label="close" role="button" {{action 'toggleSize'}}></button>
    </header>
    <section class="modal-card-body">
      <div class="is-size-4">
        Your Security Code is 
        <br>
        <div id="alert-id" class="is-size-3 has-text-weight-medium is-family-code"></div>
        
        Please remember this code to delete this book.
        </div>
      
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" role="button" {{action 'toggleSize'}}>OK</button>
      
    </footer>
  </div>
</div>
<section>
  <container>
  <div class="field">
    <label class="label">Book Title</label>
    <div class="control">
      {{input class="input" type="text" value=title  placeholder="Enter title of book here"}}
    </div>
  </div>
  
    <div class="field">
    <label class="label">Book Author</label>
    <div class="control">
      {{input class="input" type="text" value=author  placeholder="Enter book author here"}}
    </div>
  </div>
        <div class="field">
    <label class="label">Book Year</label>
    <div class="control">
      {{input class="input" type="text" value=bookyear placeholder="Enter book year"}}
    </div>
  </div>
      <div class="field">
    <label class="label">Book Code (ISBN)</label>
    <div class="control">
      {{input class="input" type="text" value=code  placeholder="Enter book code"}}
    </div>
  </div>

  <div class="field">
    <label class="label">Owner</label>
    <div class="control">
      {{input class="input" type="text" value=name  placeholder="Enter your name here"}}
    </div>
  </div>


  <div class="field">

    
    <label class="label">Department and Year</label>
   
    
    <div class="field-body has-addons">
        <div class="control">
          <div class="select">
            <select id=Dept>
            
              <option value='Computer'>Bsc.Computer Science</option>
              <option value='Statistics'>Bsc.Statistics</option>
              <option value='Psychology'>Bsc.Psychology</option>
              <option value='Commerce'>B.Com Finance</option>
              <option value='English'>BA English</option>

            </select>
          </div>
        </div>
        <div class="control">
          <div class="select">
            <select id=year>
            
              <option value=1>1st Year</option>
              <option value=2>2nd Year</option>
              <option value=3>3rd Year</option>

            </select>
          </div>
        </div>
    </div>
    
  </div>
  <div class="field">
    <label class="label">Admin Number</label>
    <div class="control">
      {{input class="input" type="text" value=admin  placeholder="Enter your admin number"}}
    </div>
  </div>
  <div class="field">

    
    <label class="label">Phone and Email</label>
   
    
    <div class="field-body has-addons">
        <div class="control">
      {{input class="input" type="text" value=phone  placeholder="Phone Number"}}
        </div>
        <div class="control">
      {{input class="input" type="text" value=email  placeholder="Email"}}
        </div>
    </div>
    
  </div>




  <div class="field is-grouped">
  <p class="control">
    <a class="button is-primary" role="button" {{action 'postData'}}>
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light" role="button" {{action 'deleteData'}}>
      Cancel
    </a>
  </p>
</div>
  </container>
</section>
<section>

><p>{{dynamic}}</p>
</section>
</container>