<container>
<section>
  <div>
    <p class="title">
     Share Your Books Here.
    </p>
    <p class="subtitle">
      Please fill the form and submit.
    </p>
  </div>
</section>
<br>
<section>
  <container>
  <div class="field">
    <label class="label">Book Title</label>
    <div class="control">
      {{input class="input" type="text" value=title  placeholder="Enter title of book here"}}
    </div>
  </div>
  
    <div class="field">
    <label class="label">Book Author</label>
    <div class="control">
      {{input class="input" type="text" value=author  placeholder="Enter book author here"}}
    </div>
  </div>
  <div class="field">
    <label class="label">Owner</label>
    <div class="control">
      {{input class="input" type="text" value=name  placeholder="Enter your name here"}}
    </div>
  </div>


  <div class="field">

    
    <label class="label">Department and Year</label>
   
    
    <div class="field-body has-addons">
        <div class="control">
          <div class="select">
            <select id=Dept>
            
              <option value='Computer'>Bsc.Computer Science</option>
              <option value='Statistics'>Bsc.Statistics</option>
              <option value='Psychology'>Bsc.Psychology</option>
              <option value='Commerce'>B.Com Finance</option>
              <option value='English'>BA English</option>

            </select>
          </div>
        </div>
        <div class="control">
          <div class="select">
            <select id=year>
            
              <option value=1>1st Year</option>
              <option value=2>2nd Year</option>
              <option value=3>3rd Year</option>

            </select>
          </div>
        </div>
    </div>
    
  </div>
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email"  placeholder="Enter email">
    </div>
  </div>
  <div class="field">
    <label class="label">Roll Number</label>
    <div class="control">
      {{input class="input" type="text" value=roll  placeholder="Enter your roll number"}}
    </div>
  </div>

    <div class="field">
    <label class="label">Book Code (ISBN)</label>
    <div class="control">
      {{input class="input" type="text" value=code  placeholder="Enter book code"}}
    </div>
  </div>

    <div class="field">
    <label class="label">Security Password </label>
    <div class="control">
      {{input class="input" type="text" value=password  placeholder="Enter a password for protection"}}
    </div>
    <p class="help">Enter a password to protect your book.If you already have one, don't create a new one and don't share passwords with anyone</p>
  </div>

  <div class="field is-grouped">
  <p class="control">
    <a class="button is-primary" role="button" {{action 'postData'}}>
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light" role="button" {{action 'deleteData'}}>
      Cancel
    </a>
  </p>
</div>
  </container>
</section>
<section>
>
</section>
</container>